<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body>

    <div class="container">
        <div class="row" style="margin-top:55px;">
            <div class="col-md-3"><span class="siteTitle" style="font-size:30px; margin-left:5px;">Life In Esbjerg</span></div>
            <div class="col-md-offset-9">

                <div class="row">
                    <div class="col-md-9 col-md-offset-3">
                       
                    </div>
                </div>

            </div>
        </div>
        <div class="row" >
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color:#545454; ">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="‪#‎bs‬-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
                            <li> @Html.ActionLink("Company ", "index", "Company")</li>                           
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Info <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#"> @Html.ActionLink("About", "About", "Home")</a>
                                    <li><a href="#"> @Html.ActionLink("Contact", "Contact", "Home")</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>

                        </ul>

                       
                        <ul class="nav navbar-nav navbar-right">
                            <li style="margin-top:10px; margin-bottom:-10px;">
                                <form action="" class="search-form">
                                    <div class="form-group has-feedback">
                                        <label for="search" class="sr-only">Search</label>
                                        <input type="text" class="form-control" name="search" id="search" placeholder="search">
                                        <span class="glyphicon glyphicon-search form-control-feedback" style="margin-left:-30px!important;"></span>
                                    </div>
                                </form>
                            </li>
                            @Html.Partial("_LoginPartial")
                        </ul>



                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>
   @*<div class="row" style="height:70px;"></div>*@
   
    <div class="@*container body-content*@ ">
        @RenderBody()
        <hr />
      
    </div>
    <footer style="margin-bottom:0!important;">
        <div class="row footerTop">
            <div class="container">
                <div class="col-md-4">
                    <h3>Beautiful</h3>
                    <img class="img-responsive" src="http://denmark.dk/en/~/media/Denmark/Images/Quick%20facts/Map/Esbjerg-Mennesket-ved-havet.jpg?w=580&h=360&as=1" />
                </div>
                <div class="col-md-4">
                    <h3>Our Town</h3>
                    <img class="img-responsive" src="http://psg-foto.dk/gallery3/var/resizes/Fotos-fra-forskellige-steder-i-Danmark/De_Hvide_Maend.jpg?m=1350443200" />
                <br />
                </div>
                <div class="col-md-4">
                    <h3>Our Community</h3>
                    <img class="img-responsive" src="http://static.panoramio.com/photos/large/839053.jpg" />
                </div>
            </div>
        </div>
        <div class="row footerBot">
            <div class="container" style="margin-top:40px; margin-bottom:20px;;">
                <p>&copy; @DateTime.Now.Year - Esbjerg Kommune</p>
            </div>
       
        </div>        
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
