@model DtoModel.Company

@{
    ViewBag.Title = "Details";
}


<h2>@Html.DisplayFor(modelItem => modelItem.Name)</h2>

<div>

    <table class="table">
        <tr>


            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CVR)
            </th>
            <th>
                @Html.Label("Category")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.WebSite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tel)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.OpenHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MinPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPrice)
            </th>
          
           
            <th></th>
        </tr>



        <tr>

            <td>
                <img src="@Model.ImageUrl" width="200" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.CVR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.WebSite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Tel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.OpenHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.MinPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.MaxPrice)
            </td>
            
            

        </tr>


    </table>
    @Html.Label("Ratings")
    <div class="progress" style="width:254px;">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow=@Model.avgQua aria-valuemin="0" aria-valuemax="100" style="width: @Model.avgQua%">
            Quality @(Model.avgQua / 10)
        </div>

    </div>

    <div class="progress" style="width:254px;">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow=@Model.avgCust aria-valuemin="0" aria-valuemax="100" style="width: @Model.avgCust%">
            Customer Service @(Model.avgCust /10)
        </div>
    </div>

    <div class="progress" style="width:254px;">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow=@Model.avgPrice aria-valuemin="0" aria-valuemax="100" style="width: @Model.avgPrice%">
            Price @(Model.avgPrice / 10)
        </div>
    </div>

    <div class="progress" style="width:254px;">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow=@Model.overall aria-valuemin="0" aria-valuemax="100" style="width: @Model.overall%">
            Overall @(Model.overall / 10)
        </div>
    </div>

    @Html.ActionLink("Rate","AddRating", new { id = Model.Id})

    @*<div style="text-decoration:solid;  margin-right:10px;">
        <button type="button" onclick="location.href='@Url.Action("Rate","AddRating", new { id = Model.Id})'" class="btn btn-info">Rate!</button>
    </div>*@

    @Html.Label("Reviews")
        <table>
            <tr>
                <td>
                    @Html.Label("Title")
                </td>
                <td>
                    @Html.Label("Text")
                </td>
            </tr>

            @foreach (var item in Model.Reviews)
            {
                <tr class="well">
                    <td style="font-weight:lighter;">
                        @Html.DisplayFor(modelItem => item.Title) &nbsp;&nbsp;
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text)
                    </td>

                </tr>
             
            }

        </table>
    <hr />
    <div class="row " style="margin:10px 0 10px 0;">
       
            @foreach (var item in Model.Tags)
            {
              <div style="text-decoration:none; float:left; margin-right:10px;">
                  <button type="button" onclick="location.href='@Url.Action("Index", "Company", new { searchString = item.Name })'"  class="btn btn-primary btn-xs">@item.Name</button>
              </div>
            }
        
    </div>

</div>

<br />

<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Movie }) |*@
    @Html.ActionLink("Back to List", "Index")


</p>


