@model IEnumerable<DtoModel.Company>

@{
    ViewBag.Title = "Company";
}
<div class="container cont">
    <div class="row">
        <h2>Companies</h2>

        @using (Html.BeginForm())
        {
         
        <div class="row"></div>
            <div class="col-md-2 well" style="background-color:white; padding:10px;">
                @{Html.RenderAction("ListOfCat", "Company");}
                @{Html.RenderAction("ListOfTags", "Company"); }
            </div>
                    }

        <div class="col-md-10">
            @foreach (var item in Model)
            {

                <div class="well" style="background-color:white;">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <img alt="image" class="img-responsive" src="@item.ImageUrl" width="100" />
                        </a>
                        <div class="media-body">
                            <h4 class="media-heading">@item.Name</h4>
                            <p class="text-right">@Html.ActionLink("Details", "Details", new { id = item.Id })</p>
                            <p>
                                @item.Description
                            </p>
                            <ul class="list-inline list-unstyled">
                                <li>Open <strong>M-S : @Html.DisplayFor(modelItem => item.OpenHours)</strong></li>
                                <li>|</li>
                                 Nr of rates: @item.NrRate
                                <li>|</li>
                                <li>
                                    <div class="progress" style="width:200px; margin-bottom:-6px;">
                                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow=@item.overall aria-valuemin="0" aria-valuemax="100"  style="width: @item.overall.ToString(".")%">
                                            Overal Rating @(item.AvgOvr)
                                        </div>
                                    </div>
                                </li>
                                <li>|</li>
                                <li>
                                     @Html.DisplayFor(modelItem => item.Category.Name)
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>   
               
            }
        </div>

        </div>
    </div>

